@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try clicking <a href="/missing">here</a> to see the custom 404 page.</p>
</div>
